*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 120px;
    background-color: rgb(243, 237, 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    height: 80px;
    margin-left: 150px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin: 20px;
}
.menu > li > a{
    text-decoration: none;
    color: rgba(34, 33, 33, 0.937);
    font-family: sans-serif;
    font-size: 15px;
}
.log{
    border-radius: 10px;
    width: 60px;
    background-color: black;
    color: white;
}